{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content%}
    </div class="container">
        {% if buscar %}
        <h1>Resultados para: {{buscar}}</h1>
        
        <table class="table table-bordered">
            <thead>
                <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Categoria</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
                <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
            
            {% for x in Items %}
                <tr>
                <th scope="row">{{ x.name }}</th>
                <td>{{ x.tag }}</td>
                <td>{{ x.description }}</td>
                <td>${{ x.price | intcomma }}</td>
                <td style="text-align: center;">
                    <a href="{% url 'Pantalla de Producto' x.id %}" class="btn btn-primary stretched-link btn-sm" style="center">Ver</a></hr>
                    <a href="{% url 'carro:agregar' x.id %}" class="btn btn-info btn-sm" style="center">Comprar</a>

                </td>

                </tr>
            {% endfor %}
            </tbody>
            </table>
            <div>
                {% include 'paginator.html' %} 
            </div> 
        {% else %}
            <h1>No se ingreso nigun criterio de busqueda</h1>
        {% endif %}
    </div>
   

{% endblock %}