{% extends 'base.html' %}

{% load static %}
{% load humanize %}
{% block content%}

</br>
 {% for itm in entity %} 
  <div style="">
    <div class="card" style="width: 18rem;height:auto;">
      {% if itm.imag %}
      <img src="{{ itm.imag.url }}" class="card-img-top" alt="...">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ itm.name }}</h5>
        <a href="{% url 'Pantalla de Producto' itm.id %}" class="btn btn-primary stretched-link " style="center">Ver mas</a>
      </div>
    </div>
    </br>
  </div>
 {% endfor %}


  <!--<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Categoria</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>
    {% for itm in productos %}
        <tr>
        <th scope="row"></th>
        <td>{{ itm.name }}</td>
        <td>{{ itm.tag }}</td>
        <td>{{ itm.description }}</td>
        <td>${{ itm.price| intcomma }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>-->  
  <div>
    {% include 'paginator.html' %} 
  </div>

{% endblock %}