{% extends 'base.html' %}

{% load static %}
{% block content%}
    <center>
    <h1 >Registro</h1>
    <center>
    {% csrf_token %} 
    <form>
        <center>
            <div class="contenedorFormulario">  
                <table>
                        <tbody>
                            <tr>
                                <td > Nombre de usuario </td>
                                <td><input type="tex" placeholder="Ingrese su nombre" name="user">  </td>
                            </tr>
                            <tr>
                                <td> Email </td>
                                <td><input type="Email" placeholder="Ingrese su email" name="email">  </td>
                            </tr> 
                            <tr>
                                <td> Contraseña </td>
                                <td><input type="password" placeholder="Ingrese su contraseña" name="password">  </td>
                            </tr>   
                            <tr>
                                <td>
                                    <button type="submit"> Crear Usuario </button>
                                </td>
                                
                            </tr>                                       
                        </tbody>
                    </table>
            </div>
        </center>
    </form>
    {% if messages %}
        {% for x in messages %}
        <b>{{ x }}<b>
        {% endfor %}
        {% endif %}
        <center>
        <hr/>
        <em> Si ya esta registrado <a href="{% url 'Pantalla de Login' %}">aga click aqui</a></em> 
        </center>
{% endblock %}