{% extends 'base.html' %}
<!--
{% block js %}
    <script>
        function borrarItem(id){
            Swal.fire({
                "title":"¿Esta seguro?",
                "text":"esta accion eliminara el producto de la tienda",
                "icon":"warning",
                "showCancelButton":true,
                "showConfirmButton":true,
                "cancelButtonText":"No, cancelar",
                "confirmButtonText":"Si, continuar",
                "confirmButtonColor":"#dc3545"
            })
            .then(function(result){
                if(result.isConfirmed){
                    window.location.href="/Borrar/"+id+"/"
                }
            })
        }
    </script>
{% endblock %}-->

{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content%}
  <table class="table table-bordered">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Categoria</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for x in entity %}
            <tr>
            <th scope="row">{{ x.id }}</th>
            <td>{{ x.name }}</td>
            <td>{{ x.tag }}</td>
            <td>{{ x.description }}</td>
            <td>${{ x.price | intcomma }}</td>
            <td>
                <a href="{% url 'Editar Producto' x.id %}" class="btn btn-info btn-sm">Editar</a>
                <a href="{% url 'Borar Producto' x.id %}"  class="btn btn-danger btn-sm">Eliminar</a>
            </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        {% include 'paginator.html' %} 
    </div>  
   

{% endblock %}