{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block content%}
    <h1>Productos<h1>
    <table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Categoria</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
        </tr>
    </thead>
    <tbody>
    {% for x in catf %}
        <tr>
        <th scope="row">{{ x.id }}</th>
        <td>{{ x.name }}</td>
        <td>{{ x.tag }}</td>
        <td>{{ x.description }}</td>
        <td>${{ x.price| intcomma }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>  
{% endblock %}