{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content%}
    <div class="container ">
       </div class="cta-inner text-center rounded"> 
            {% for itm in prod %}
                <h1>{{ itm.name }}<h1>
                {% if itm.imag %}
                    <img class="u-image u-image-default u-image-1"  src="{{ itm.imag.url }}" data-image-width="693" data-image-height="1080">
                {% endif %}
                <h3>{{itm.tag}}</h3>
                <p>Descripcion: {{itm.description}}</p>
                <h2>${{ itm.price }}<h2>
                <td>
                <a href="{% url 'carro:agregar' itm.id %}" class="btn btn-info btn-sm">Comprar</a>
                </td>
            {% endfor  %}
        </div>
    </div>     


{% endblock %}