{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block content%}
    
     <div class="card mb-3">
        {% for itm in prod %}
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{{itm.name}}</h1>
                    <p class="card-text">{{itm.description}}</p>
                    <div style="display:flex;">
                        <div>
                        <p class="card-text"><medium class="text-muted" style="font-weight: bold; center;width: 100%; float:left;">${{ itm.price }}</medium>
                        </div>
                        <div>
                        </p><a href="{% url 'carro:agregar' itm.id %}" class="btn btn-info btn-sm" style="center;width: 100%; float:left;">Comprar</a>
                        </div>
                    </div>
                </div>
                <img src="{{itm.imag.url}}" class="card-img-bottom" alt="...">
            </div>
        {% endfor  %}
    </div>

{% endblock %}

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
<div id="contenedor" style="display:flex;">
     <div id="primero" style="width: 25%; float:left;">
         En un lugar de la Mancha, de cuyo